     <tr class="row mb-4">
       <th class="col-md-6"><%= f.label :classification %></th>
       <td class="col-md-6"><%= f.select :classification, ClassificationDetail.classifications_i18n.invert, {prompt: "選択して下さい"} %></td>
     </tr>
     <tr class="row mb-4">
       <th class="col-md-5"><%= f.label :detail %></th>
       <td class="col-md-7"><%= f.text_area :detail, size: "50x5" %></td>
     </tr>
     <tr class="row mb-4">
       <th class="col-md-6 "><%= f.label :useful_life %></th>
       <td class="col-md-6 "><%= f.number_field :useful_life %>年</td>
     </tr>

