<div class="container row mx-auto mt-5">
  <h2 class="mx-auto mb-4">資産区分一覧</h2>
  <div class="col-md-12 text-right">
    <%= link_to "区分作成", new_staffs_classification_detail_path, class: "btn btn-primary mb-2" %>
    <%= render 'searchs/search_classification_detail', url: staffs_classification_details_path, q: @q %>
  </div>
  <table class="table text-center">
    <thead>
      <tr class="row">
        <th class="col-md-2"><%= sort_link(@q, :classification) %></th>
        <th class="col-md-4">詳細</th>
        <th class="col-md-2">耐用年数</th>
        <th class="col-md-2">耐用年数（月）</th>
        <th class="col-md-1"></th>
        <th class="col-md-1"></th>
      </tr>
    </thead>
    <% @classification_details.each do |classification_detail| %>
      <tbody>
        <tr class="row">
          <td class="col-md-2"><%= classification_detail.classification_i18n %></td>
          <td class="col-md-4"><%= classification_detail.detail %></td>
          <td class="col-md-2"><%= classification_detail.useful_life %>年</td>
          <td class="col-md-2"><%= year_to_month(classification_detail.useful_life) %>ヵ月</td>
          <td class="col-md-1"><%= link_to "編集", edit_staffs_classification_detail_path(classification_detail.id), class: "btn btn-success" %></td>
          <td class="col-md-1"><%= link_to "削除", staffs_classification_detail_path(classification_detail.id), class: "btn btn-danger", method: :delete, data: { confirm: "本当に削除しますか？" } %></td>
        </tr>
      </tbody>
    <% end %>
  </table>
  <div class="mx-auto"><%= paginate @classification_details %></div>
</div>
