<div class="container row mx-auto mt-5">

  <h2 class="mx-auto mb-4">資産一覧</h2>
  <div class="col-md-12 text-right mb-4">
    <%= link_to "新規区分作成", new_staffs_fixed_asset_path, class: "btn btn-primary" %>
  </div>
  <table class="table text-center">
    <thead>
      <tr class="row">
        <th class="col-md-2">拠点名</th>
        <th class="col-md-2">資産名</th>
        <th class="col-md-2">資産区分</th>
        <th class="col-md-2">取得日</th>
        <th class="col-md-1">耐用年数</th>
        <th class="col-md-1">総額費用（税抜）</th>
        <th class="col-md-1">耐用年数（月）</th>
        <th class="col-md-1">月額費用（税抜）</th>
      </tr>
    </thead>
    <% @fixed_assets.each do |fixed_asset| %>
      <tbody>
        <tr class="row">
          <td class="col-md-2"><%= fixed_asset.base.name %></td>
          <td class="col-md-2"><%= fixed_asset.name %></td>
          <td class="col-md-2"><%= fixed_asset.classification_detail.classification %></td>
          <td class="col-md-2"><%= fixed_asset.acquisition_date %></td>
          <td class="col-md-1"><%= fixed_asset.classification_detail.useful_life %>年</td>
          <td class="col-md-1"><%= fixed_asset.cost %>円</td>
          <td class="col-md-1"><%= fixed_asset.classification_detail.period %>円/月</td>
          <td class="col-md-1"><%= %></td>
      </tbody>
    <% end %>
  </table>
</div>
