<div class="container row mx-auto mt-4">
  <div class="py-4 px-3 col-md-6 mx-auto">
    <h2 class="text-center">マイページ</h2>
      <%= render 'errors/error', model: @staff %>
      <%= form_with model: @staff, url: staffs_staff_path, local: true do |f| %>
        <div class="row mt-5 mb-4">
          <%= f.label :name, class: "col-md-4" %>
          <%= f.text_field :name, class: "col-md-4" %>
        </div>
        <div class="row mb-4">
          <%= f.label :email, class: "col-md-4" %>
          <%= f.email_field :email, class: "col-md-4" %>
        </div>
        <div class="row mb-5">
          <%= f.label :password, class: "col-md-4" %>
          <%= f.password_field :password, class: "col-md-4" %>
        </div>
        <%= f.submit "更新", class: "mx-auto px-5 d-block btn btn-success" %>
      <% end %>
  </div>
</div>